footer {
	font-size: 0.60em;
	font-weight: bold;
	text-align: center;
	border-top: 2px solid rgba(237,127,214,1) !important;
	margin-top: 8px;
	margin-bottom: 10px;
    .internalLink {
        display: grid;
        grid-template-columns: 58px 58px 58px 58px;
        grid-auto-rows: 80px;
        column-gap: 2px;
        justify-content: center;
        .redes {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            margin: 10px;
        }
        .pageUp {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            margin: 10px;
            animation: bounce3 10s;
            .icon {
                width: 30px;
                height: 30px;
            }    
        }
    }
}

@media (min-width: 576px) {
    footer {
        font-size: 0.80em;
        margin-top: 15px;
        margin-bottom: 10px;
        .internalLink {
            grid-template-columns: 120px 120px 120px 120px;
            grid-auto-rows: 100px;
            column-gap: 25px;
            margin: 20px 20px;
            .redes {
                margin: 25px;
            }
            .pageUp {
                margin: 25px;
                .icon {
                    width: 45px;
                    height: 45px;
                }    
            }
        }
    }
}
@media (min-width: 768px){
    footer {
        font-size: 1em;
        .internalLink {
            grid-template-columns: 130px 130px 130px 130px;
            .redes {
                margin: 30px;
            }
            .pageUp {
                margin: 30px;
                .icon {
                    width: 50px;
                    height: 50px;
                }    
            }
        }
    }
}
@media (min-width: 992px){
    footer {
        font-size: 1.20em;
        .icon {
            width: 60px;
            height: 60px;
            }    
        }
}
@media (min-width: 1200px) {
    footer {
        .internalLink {
            grid-template-columns: 100px 100px 100px 100px;
            grid-auto-rows: 100px;
            column-gap: 25px;
            .ig {
                animation: bounce 10s;
                } 
            .tw {
                animation: bounce1 10s;
            }
            .of {
                animation: bounce2 10s;
            }
            .pageUp {
                animation: bounce3 10s;;
            }   
            }
        }
}
@keyframes bounce{
    0% {
        transform:translatey(-100%);
        opacity: 0;
    }
    15% {
        transform:translateY(0);
        padding-bottom: 5px;
    }
    30% {
        transform:translateY(-50%);
    }
    40% {
        transform:translateY(0%);
        padding-bottom: 6px;
    }
    50% {
        transform:translateY(-30%);
    }
    70% {
        transform:translateY(0%);
        padding-bottom: 7px;
    }
    80% {
        transform:translateY(-15%);
    }
    90% {
        transform:translateY(0%);
        padding-bottom: 8px;
    }
    95% {
        transform:translateY(-7%);
    }
    100% {
        transform:translateY(0);
        padding-bottom: 9px;
        opacity: 1;
    }
    }
@keyframes bounce1{
    3% {
        transform:translatey(-100%);
        opacity: 0;
        }
    18% {
        transform:translateY(0);
        padding-bottom: 5px;
        }
    33% {
        transform:translateY(-50%);
        }
    43% {
        transform:translateY(0%);
        padding-bottom: 6px;
        }
    53% {
        transform:translateY(-30%);
        }
    73% {
        transform:translateY(0%);
        padding-bottom: 7px;
        }
    83% {
        transform:translateY(-15%);
        }
    90% {
        transform:translateY(0%);
        padding-bottom: 8px;
        }
    95% {
        transform:translateY(-7%);
        }
    100% {
        transform:translateY(0);
        padding-bottom: 9px;
        opacity: 1;
        }
    }
@keyframes bounce2{
    6% {
        transform:translatey(-100%);
        opacity: 0;
    }
    21% {
        transform:translateY(0);
        padding-bottom: 5px;
    }
    36% {
        transform:translateY(-50%);
    }
    46% {
        transform:translateY(0%);
        padding-bottom: 6px;
    }
    56% {
        transform:translateY(-30%);
    }
    76% {
        transform:translateY(0%);
        padding-bottom: 7px;
    }
    86% {
        transform:translateY(-15%);
    }
    90% {
        transform:translateY(0%);
        padding-bottom: 8px;
    }
    95% {
        transform:translateY(-7%);
    }
    100% {
        transform:translateY(0);
        padding-bottom: 9px;
        opacity: 1;
    }
    }
@keyframes bounce3{
    9% {
        transform:translatey(-100%);
        opacity: 0;
        }
    24% {
        transform:translateY(0);
        padding-bottom: 5px;
        }
    39% {
        transform:translateY(-50%);
        }
    49% {
        transform:translateY(0%);
        padding-bottom: 6px;
        }
    59% {
        transform:translateY(-30%);
        }
    79% {
        transform:translateY(0%);
        padding-bottom: 7px;
        }
    89% {
        transform:translateY(-15%);
        }
    90% {
        transform:translateY(0%);
        padding-bottom: 8px;
        }
    95% {
        transform:translateY(-7%);
        }
    100% {
        transform:translateY(0);
        padding-bottom: 9px;
        opacity: 1;
        }
    }



