@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.15rem;
    background-color: hwb(0 0% 100%);
}
header{
    text-align: right;
    text-decoration: none;
    margin: 0px 0px 20px 0px;
    padding: 25px;
    border-bottom: 4px solid #d6386d;
}
.icon{
    width: 64px;
    height: 64px;
}
h1{
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    text-align: center;
    background: rgb(228,226,223);
    background: linear-gradient(0deg, rgba(228,226,223,1) 0%, rgba(237,127,214,1) 45%, rgba(167,6,176,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 25px;
}
.hSub{
    text-align: center;
    text-decoration: underline;
    font-size: 1.44rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*     Navbar style */

.logo{
    width: 64px;
    height: 64px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-bottom: -20px;
    padding-top: 5px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    font-size: 1.50rem;
    color: #d6386d;
    transition: 2s;
}
ul li{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    display: inline-block;
    font-weight: bold;
    padding: 10px;
}
/* Contact Style  */

.contactUs{
    margin: 50px 150px 50px 150px;
    padding: 50px 100px 50px 100px;
}
.legend{
    font-weight: bold;
    font-size: 1.40rem;
    text-align: center;
    padding: 20px 30px 20px 30px;
}
.contact{
    font-size: 0.95em;
    font-weight: lighter;
    text-align: center;
    margin: 10px 25px 10px 20px ;
    padding-bottom: 5px;
}
.hContact{
    font-size: 0.95em;
    font-weight: lighter;
    padding-bottom: 10px;
}
.termsC{
    font-size: 0.95em;
    font-weight: bold;
    margin-bottom: 10px;
}
.submit{
    font-size: 0.99em;
    font-weight: bold;
    color: black;
    padding: 5px;
    margin: 10px 30px 10px 200px;
    background-color: white;
    border-radius: 5px;
}
/*   Index Style */

.indexCollage{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center; 
    margin-left: 150px;
    margin-bottom: 50px;
}
.introductionIndex{
    text-align: justify;
    margin: 100px 80px 0px 80px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: auto auto ;
    grid-template-areas: "single . paragraph"
                         "movie . paragraph";
    column-gap: 50px;
}
.single{
    grid-area: single;
}
.movie{
    grid-area: movie;
}
.paragraph{
    font-size: 1.20rem;
    grid-area: paragraph;
}

/*  Multimedia Style */

iframe{
    max-width: 100%;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 15px;
}
img{
    max-width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}
/*  oned Style */

.sectionOneD{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto auto auto;
}
.pictures{
    max-width: 415px;
    max-height: 325px;
    padding: 5px;
    margin: 25px 100px 25px 100px;
}
.many{
    display: grid;
    grid-template-columns: repeat(2, 2fr) ;
    grid-template-rows: auto auto auto auto;
}
.colOneD{
    font-size: 1rem;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    margin: 50px 100px 40px 100px;
    padding: 25px;
    border: solid 4px #d6386d;
    max-width: 100%;
}
.containerMultimedia{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.colMultimedia{
    padding: 20px;
    align-items: center;
    margin-left: 80px;
}
/* Discography Style */

.sectionDisc{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 50px;
}
.colDisc{
    padding: 50px;
}
/* Acting Style */

.sectionActing{
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.colActing{
    padding: 40px;
}
/* Award page style */

.sectionAwards{
    text-align: justify;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.colAwards{
    padding: 10px;
    margin: 3px;
    border: 2px solid #d6386d;
}
.harryGrammy{
    width: 410px;
    height: 400px;
}
/* Footer Style */

.redes, .pageUp{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
.internalLink{
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    grid-auto-rows: 95px;
    column-gap: 20px;
}
.ig{
    animation: bounce 10s;
}
@keyframes bounce{
    0% {
        transform:translatey(-100%);
        opacity: 0;
    }
    15% {
        transform:translateY(0);
        padding-bottom: 5px;
    }
    30% {
        transform:translateY(-50%);
    }
    40% {
        transform:translateY(0%);
        padding-bottom: 6px;
    }
    50% {
        transform:translateY(-30%);
    }
    70% {
        transform:translateY(0%);
        padding-bottom: 7px;
    }
    80% {
    transform:translateY(-15%);
    }
    90% {
    transform:translateY(0%);
    padding-bottom: 8px;
    }
    95% {
    transform:translateY(-7%);
    }
    100% {
    transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
    }
}
.tw{
    animation: bounce1 10s;
}
@keyframes bounce1{
    3% {
        transform:translatey(-100%);
        opacity: 0;
    }
    18% {
        transform:translateY(0);
        padding-bottom: 5px;
    }
    33% {
        transform:translateY(-50%);
    }
    43% {
        transform:translateY(0%);
        padding-bottom: 6px;
    }
    53% {
        transform:translateY(-30%);
    }
    73% {
        transform:translateY(0%);
        padding-bottom: 7px;
    }
    83% {
    transform:translateY(-15%);
    }
    90% {
    transform:translateY(0%);
    padding-bottom: 8px;
    }
    95% {
    transform:translateY(-7%);
    }
    100% {
    transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
    }
}
.of{
    animation: bounce2 10s;
}
@keyframes bounce2{
    6% {
        transform:translatey(-100%);
        opacity: 0;
    }
    21% {
        transform:translateY(0);
        padding-bottom: 5px;
    }
    36% {
        transform:translateY(-50%);
    }
    46% {
        transform:translateY(0%);
        padding-bottom: 6px;
    }
    56% {
        transform:translateY(-30%);
    }
    76% {
        transform:translateY(0%);
        padding-bottom: 7px;
    }
    86% {
    transform:translateY(-15%);
    }
    90% {
    transform:translateY(0%);
    padding-bottom: 8px;
    }
    95% {
    transform:translateY(-7%);
    }
    100% {
    transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
    }
}
.pageUp{
    animation: bounce3 10s;
}
@keyframes bounce3{
    9% {
        transform:translatey(-100%);
        opacity: 0;
    }
    24% {
        transform:translateY(0);
        padding-bottom: 5px;
    }
    39% {
        transform:translateY(-50%);
    }
    49% {
        transform:translateY(0%);
        padding-bottom: 6px;
    }
    59% {
        transform:translateY(-30%);
    }
    79% {
        transform:translateY(0%);
        padding-bottom: 7px;
    }
    89% {
    transform:translateY(-15%);
    }
    90% {
    transform:translateY(0%);
    padding-bottom: 8px;
    }
    95% {
    transform:translateY(-7%);
    }
    100% {
    transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
    }
}
footer{
    font-size: 0.75em;
    font-weight: bold; 
    text-align: center;
    margin-top: 70px;
    padding: 20px 450px 20px 450px;
    border-top: 4px solid #d6386d;  
}

/* responsive behaviour for mobile */
/* index*/

@media screen and (max-width: 576px) {
    header{
        border-bottom: 2px solid #d6386d;
    }
    h1{
        font-size: 2rem;
    }
    .logo{
        width: 35px;
        height: 35px;
        justify-items: flex-start;
    }
    ul li{
        display: inline-flex;
        font-size: 0.85rem;
    }
    .paragraph{
        font-size: 0.75rem;
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
    }
    .hSub{
        font-size: 1rem;
    }
    .introductionIndex{
        margin: 20px 30px 20px 20px;
        display: grid;
        grid-template-columns: 90vw;
        grid-template-rows: auto;
        grid-template-areas: "paragraph"
                            "single"
                            "movie";
    }
    .icon{
        width: 30px;
        height: 30px;
    }
    /*multimedia */

    iframe{
        max-width: 70vw;
    }
    img{
        max-width: 70vw;
    }
    .indexCollage{
        margin-left: 35px;
        margin-bottom: 30px;
    }
/* contact page */

    .contactUs{
        margin: 5px;
        padding: 5px;
    }
    .legend{
        font-size: 0.75rem;
        padding: 5px 5px 5px 5px;
    }
    .contact{
        font-size: 0.65em;
    }
    .hContact{
        font-size: 0.70em;
    }
    .termsC{
        font-size: 0.65em;
    }
    .submit{
        font-size: 0.60em;
        padding: 5px;
        margin: 2px 5px 5px 20px;
    }
/*oned page*/

.sectionOneD{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    align-items: center;
    align-content: center;
}
.pictures{
    max-width: 70vw;
    max-height: 120px;
    margin: auto;
}
.many{
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.colOneD{
    font-size: 0.65rem;
    margin: 20px 0px 20px 5px;
    padding: 15px;
    max-width: 80vw;
    border: solid 2px #d6386d;
}
.colMultimedia{
    margin: auto;
}
/*discography page*/

.sectionDisc{
    flex-direction: column;
}
.colDisc{
    padding: auto;
}
/*acting page*/
.sectionActing{
    flex-direction: column;
    align-content: center;
}
/* awards page*/
.sectionAwards{
    flex-direction: column;
    align-items: center;
}
.harryGrammy{
    width: 205px;
    height: 200px;
}

/*footer */
.redes, .pageUp{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.internalLink{
    display: grid;
    grid-template-columns: 22vw 22vw 22vw 22vw;
    grid-auto-rows: 40px;
    column-gap: 3px;
    justify-content: center;
}
footer{
    padding: 10px 15px 10px 15px;
    margin-top: 25px;
    border-top: 2px solid #d6386d;
}
}



